@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=8E1DA067-DC0C-45C6-9FBF-604468166D8D
//npm.pkg.github.com/:_authToken=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
@devrevodigital:registry=https://npm.pkg.github.com/

